modelsim/work
modelsim/work/*

vivado/

modelsim/*.mti
modelsim/*.mpf
modelsim/*.bmp
modelsim/*.wlf
modelsim/*.do
modelsim/*.txt
modelsim/vsim.wlf
modelsim/work/_info
modelsim/work/_lib.qdb

.vscode/settings.json
.vscode/tasks.json
modelsim/codeTester/tester.exe
doc/*.drawio
doc/*.png
doc/*.bkp
